extends layout.jade

block extra-styles
  link(rel="stylesheet", href="/css/admin.css")

block extra-scripts
  script(src="/js/admin.js")

block page-content

  .container

    h3 Admin
    .admin-app
